<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body ng-controller="TodoCtrl">
  <h2>Todos</h2>
  <form ng-submit="ajouter()">
    <input type="checkbox" ng-model="isChecked" ng-click="toggleAll()">
    <input ng-model="todo.value">
    <button>+</button>
  </form>
  <p ng-repeat="t in todos | filter:monFiltre">
    <input type="checkbox" ng-model="t.done">
    <input ng-model="t.value | uppercase">
    <button ng-click="supprimer($index)">-</button>
  </p>
  <p>
    Filtre : <input ng-model="monFiltre">
  </p>
  <script src="./node_modules/angular/angular.js"></script>
  <script>
    (function() {
      'use strict';

      const module = angular.module('app', []);

      class TodoCtrl {
        constructor($scope) {
          // $scope.todos = [{done: true, value: 'Acht'}];
          // $scope.todos = ['','',''];

          $scope.ajouter = function() {
            const copy = Object.assign({}, $scope.todo);
            copy.done = $scope.isChecked;
            $scope.todos.unshift(copy);
            $scope.todo.value = '';
          };

          $scope.supprimer = function(i) {
            $scope.todos.splice(i, 1);
          };

          $scope.toggleAll = function() {
            $scope.todos.forEach(t => {
              t.done = $scope.isChecked;
            });
          };
        }
      }

      // 1 - Créer un controller TodoCtrl
      // avec sur son scope un tableau de todos
      // (clés/propriétés done et value)
      module.controller('TodoCtrl', TodoCtrl);

      // 2 - Créer la méthode ajouter()
      // qui ajouter une todo au tableau
      // en pensant à faire une copie

      // 3 - Créer la méthode supprimer sur le scope
      // qui reçoit l'indice du tableau et qui supprime
      // l'élement (voir MDN Array.prototype.splice)

      // 4 - Créer la méthode toggleAll qui modifie
      // tous les éléments done du tableau
      // en leur appliquant la valeur de $scope.isChecked

      }());
  </script>
</body>
</html>
